@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

@font-face {
  font-family: 'OratorStd';
  src: url('fonts/OratorStd.eot');
  src: url('fonts/OratorStd.woff2') format('woff2'),
       url('fonts/OratorStd.woff') format('woff'),
       url('fonts/OratorStd.ttf') format('truetype'),
       url('fonts/OratorStd.svg#OratorStd') format('svg'),
       url('fonts/OratorStd.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
